.formacao{
    color: rgb(255, 255, 255);
    background: rgb(20, 20, 20);
    padding: 120px 20px;
}


.container{
    max-width: 1200px;
    margin: 0px auto;
}

.grade {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 40px;
}
.tecno {
    background-color: rgb(10, 10, 10);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    grid-column: 1 / 3;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(74, 44, 197);
    border-image: initial;
    border-radius: 5px;
    padding: 20px;
    gap: 20px;
    transition: all 0.3s ease 0s;
}
.curso {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(10, 10, 10);
    gap: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(108, 108, 108);
    border-image: initial;
    border-radius: 5px;
    padding: 20px;
    transition: all 0.3s ease 0s;
}
.soft-skills, .hard-skills, .idiomas {
    padding: 20px;
}
.titulo-3 {
    color: rgb(204, 204, 204);
    font-size: 1.25rem;
    position: relative;
    transition: all 0.3s ease 0s;

}

.bloco {
    transition: all 0.3s ease 0s;
}


.grade-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin: 20px 0px;
}
.grade-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin: 20px 0px;
}

.grade-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 20px 0px;
}
.deco2 {
    justify-self: end;
    align-self: end;
}
